* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header Styling */
header {
    background-color: #333;
    color: white;
    padding: 10px 0px;
    height: 100px ;
    display: flex;
    justify-content: center ;
    align-items:   flex-end; 
}

/* Navigation Bar */
nav {
    
}

    
/* Navigation Links */
.nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
}

.nav-links li {
    display: inline;
    margin: 15px 15px ;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #00bcd4;
}
main {
    padding: 0 10% ;
}
#posts_list /* its a div */  {
    display: flex ;
    align-items : center ;
    background-color: rgb(216, 216, 216);
    padding: 15px 15%;
}
#posts_list ul {
    margin-left:  25px ;
}
.post {
    border : 1px solid black ;
    box-shadow: 1px 1px 3px ;
    padding: 30px 30px;
}
.post h2 {
    text-align: center ;
    font-size: 2em ;
}
h2 a {
    color: #333 ;
    text-decoration: none ;
}
.post img {
    width: 50%;
    margin:  0 25%  ;
}

/* contact form styling */ 

.gray {
    padding: 0 auto ;
    background-color: #333 ;
    padding: 30px 0 ;
}
.white {
    background-color: white ;
    width: 60% ;
    margin: 0 auto ;
    padding: 15px ;
    border-radius: 10px ;
}
input , textarea {
    width: 100% ;
    padding: 5px ;
    margin: 5px 0;
}
.spacer {
    height: 100px ;
}

table {
    color: white ;
    /* border: 1px solid white ; */
    border-collapse: collapse ;
    width: 90% ;
    margin: 0 auto  ;
}
td ,th  {
    padding: 3px 30px ;
    border: 1px solid white ;
    margin: 10px ;
}

